<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <mat-form-field appearance="fill">
            <mat-label>First name <span style="color: red;">*</span></mat-label>
            <input matInput formControlName="firstName">
            <mat-icon svgIcon="checked" class="checked-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="registerForm.controls['firstName'].valid"></mat-icon>
            <mat-icon svgIcon="cross" class="cross-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="!registerForm.controls['firstName'].valid && registerForm.controls['firstName'].touched"></mat-icon>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Last Name <span style="color: red;">*</span></mat-label>
            <input matInput formControlName="lastName">
            <mat-icon svgIcon="checked" class="checked-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="registerForm.controls['lastName'].valid"></mat-icon>
            <mat-icon svgIcon="cross" class="cross-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="!registerForm.controls['lastName'].valid && registerForm.controls['lastName'].touched"></mat-icon>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Email <span style="color: red;">*</span></mat-label>
            <input matInput formControlName="email">
            <mat-icon svgIcon="checked" class="checked-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="registerForm.controls['email'].valid"></mat-icon>
            <mat-icon svgIcon="cross" class="cross-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched"></mat-icon>
          </mat-form-field><br>
          <table cellspacing="0"><tr>
            <td><mat-form-field appearance="fill">
                <mat-label>Country code <span style="color: red;">*</span></mat-label>
                <mat-select formControlName="userCountry" [value]="user_country">
                  <mat-option *ngFor="let code of countries_Codes" [value]="code.value">
                    {{code.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-icon svgIcon="checked" class="checked-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="registerForm.controls['userCountry'].valid && registerForm.controls['userCountry'].value!=''"></mat-icon>
                <mat-icon svgIcon="cross" class="cross-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="!registerForm.controls['userCountry'].valid && registerForm.controls['userCountry'].touched && !registerForm.controls['userCountry'].value" ></mat-icon>
              </mat-form-field></td>
            <td>
                <mat-form-field appearance="fill">
                <mat-label>Phone number <span style="color: red;">*</span> </mat-label>
                <input matInput (keypress)="keyPress($event)" formControlName="phonenumber">
                <mat-icon svgIcon="checked" class="checked-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="registerForm.controls['phonenumber'].valid"></mat-icon>
                <mat-icon svgIcon="cross" class="cross-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="!registerForm.controls['phonenumber'].valid && registerForm.controls['phonenumber'].touched"></mat-icon>
            </mat-form-field></td>
            
          </tr></table>
          
            <br>
          <div class="password-field">
          <mat-form-field appearance="fill">
            <mat-label>Password <span style="color: red;">*</span></mat-label>
            <input matInput type="password" formControlName="password" (ngModelChange)="checkPasswordQuality($event)">
            <mat-icon svgIcon="checked" class="checked-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="registerForm.controls['password'].valid"></mat-icon>
            <mat-icon svgIcon="cross" class="cross-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon" matSuffix *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched"></mat-icon>
          </mat-form-field><br>
          <mat-card *ngIf="passwordQuality!=0 && passwordQuality !==33">
            <b>{{passwordQualityDescription}} password</b><br>
            <mat-progress-bar mode="determinate" [value]="passwordQuality"></mat-progress-bar><br>
            <p *ngIf="passwordQuality>=33.33">Great! this will do. Just don't forget him.</p>
        </mat-card>
    
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
    <br>
          <button mat-flat-button color="primary"[disabled]="!registerForm.valid" >Sign up</button>
          <br>
          <br>
          <mat-checkbox color="primary" formControlName="check" > I agree to our Terms of Service and Privacy Policy</mat-checkbox>
    </form>
    </div>