<div>
    
    <h1>Create an account</h1>
    <ul>
        <li><mat-icon svgIcon="shield" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> Secure payments through reliable partners</li>
        <li><mat-icon svgIcon="fast" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>Fast transfers</li>
        <li><mat-icon svgIcon="percent" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>Fair commissions</li>
        <li><mat-icon svgIcon="activity" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>Best available rates</li>
        <li><mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> Convenience</li>
    </ul>
    </div>
    